<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psblk.moodleukol1" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Hotel Šumava"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Rezervace"
            android:label="Rezervace" />
        <activity
            android:name=".Sluzby"
            android:label="Služby" />
        <activity
            android:name=".Pokoje"
            android:label="Pokoje" />
        <activity
            android:name=".Ohotelu"
            android:label="O hotelu" />
        <activity
            android:name=".Kontakt"
            android:label="Kontakt" />
        <activity
            android:name=".PokSt"
            android:label="Pokoje Standart" />
        <activity
            android:name=".PokDL"
            android:label="Pokoje De Luxe" />
    </application>

</manifest>
